
img.preloadImg {
	display: block; outline: none; border: none;
	width: 100%; height: 100%;
	-webkit-transition-property: -webkit-transform; -webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform; -moz-transition-duration: 1s;
	transition-property: transform; transition-duration: 1s;
	-webkit-animation-name: rotate; -webkit-animation-duration: 2s; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear;
	-moz-animation-name: rotate; -moz-animation-duration: 2s; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear;
	animation-name: rotate; animation-duration: 2s; animation-iteration-count: infinite; animation-timing-function: linear;
}
@-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}
@keyframes rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
.loadingTxt {
	position: absolute;
	top: -20%;
	left: 0px;
	line-height: 50%;
	text-align: center;
	font-family: Neuropol, Arial;
	width: 100%;
	height: 100%;
	color: #ff0000;
}

img, #score {
	outline: none;
	border: none;
	opacity: 0.9;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#inputdiv {
	position: fixed;
	overflow: hidden;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
@font-face {
	font-family: 'Neuropol';
	src: url('../font/Neuropol-Regular.eot');
	src: url('../font/Neuropol-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/Neuropol-Regular.woff2') format('woff2'),
		url('../font/Neuropol-Regular.woff') format('woff'),
		url('../font/Neuropol-Regular.ttf') format('truetype'),
		url('../font/Neuropol-Regular.svg#Neuropol-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
#btnHome { position: absolute;width: 35%;height: 24.5%;top: 28%;left: 31.5%;cursor: pointer; display: none; }
#btnHome img { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
#btnStart { position: absolute; width: 45%; height: 31%; top: 60%; left: 26.5%; cursor: pointer; }
#btnStart img { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
#btnSound { position: fixed; top: 0; right: 0; 10%; height: 10%; display: block; z-index: 3; background-image: url('../img/sound.png'); background-size: 300px 89px; }
#score { position: absolute; top: 10%; left: 10%; width: 80%; height: 30%; color: #fff; font-family: Neuropol, Consolas; text-align: center;font-size: 250%; }
#curtain { width: 100%; height: 100%; background-color: #000; z-index: 100; position: fixed; top: 0px; left: 0px; }
#progress { width: 0%; height: 100%; overflow: hidden; position: absolute; top: 0px; left: 0px; }
#imgBkg { width: 100%; height: 100%; position: absolute; }