
html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
}
#renderCanvas {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
    height: 100%;
    outline: 0;
}
