<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cwj.we">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 连接互联网Internet权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问电话状态 -->
    <!-- 集成百度自动更新安装必须权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 读取设备外部存储空间（内置SDcard和外置SDCard）的文件 -->
    <uses-permission android:name="android.permission.REPLACE_EXISTING_PACKAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 8.0必要权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 如果设置了target >= 28 如果需要启动后台定位则必须声明这个权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".module.activity.DaanzhishuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.ShoudiantongActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.SettingZhouqiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.DayimaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.chenghu.ChengHuJiSuanQiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.ELuoSiFangKuaiStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.ELuoSiFangKuaiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.AddTieZiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.VipJiexiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ljxj.PhotoViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ljxj.PhotoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.jiqiren.JiqirenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.VideoWebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.ljxj.OpenCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.lpclock.LPClockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.GobangActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.PuzzleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.about.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.CompassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.AircraftBattleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.CalculatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.main.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.SetTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.cwj.we.BmobContentProvider" /> <!-- 设置BmobAppKey -->
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="6b641f364905d608449772bae45f7b60" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cwj.we.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>